@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
/*    padding: 0 50px;
    @media (max-width: 767px) {
        padding: 0 10px;
    }
    @media (min-width: 768px) {
        padding: 0 50px;
    }
    @media (min-width: 1024px) {
        padding: 0 100px;
    }*/
}

